.vs/
bin/
obj/
Releases/
*.user
GameData/RocketSoundEnhancement/RocketSoundEnhancement.dll
GameData/RocketSoundEnhancement/RocketSoundEnhancement.pdb
GameData/RocketSoundEnhancement/RocketSoundEnhancement.Unity.dll
GameData/RocketSoundEnhancement/RocketSoundEnhancement.Unity.pdb
